@font-face {
    font-family: 'DIN Pro - Black';
    src: url('../fonts/DIN-Pro-Black.otf');
url('./fonts/DIN-Pro-Black.otf') format('woff'), font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro.otf');
url('./fonts/DINPro.otf') format('woff'), font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
}

.row {
    background-color: #f8f8f9;
    margin: 0 !important;
    width:100%;
    float:left;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f8f9;
}
.title {
    color: #333333;
    font-family: "DIN Pro - Black", sans-serif;
    font-size: 68px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 120px 0 124px;
    width:100%;
    margin: 0;
}

.header {
    margin: 0 !important;
    padding: 0 !important;
}

.menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
    text-align: center;
    height: 45px;
}

.menu-item {
    display: inline-block;
    color: #333333;
    font-family: "DIN Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    padding: 0 25px;
    height: 40px;
}

.menu-item a {
    color: #333333!important;
}

.menu-item:hover a {
    color: #487fc0;
    text-decoration: none;
}

.menu-item:hover {
    border-bottom: 5px solid #487fc0;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: #487fc0 !important;
    height: 40px;
}
.search {
    display: inline-block;
    font-family: "DIN Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
}

.search-input {
    background: url("../images/search-icon.png") no-repeat;
    background-position: right;
    background-size: contain;
    height: 33px;
    width: 160px;
    margin-left: 8px;
    border: none;
    text-align: center;
    padding-right: 33px;
}

.search-input:focus {
    outline: none;
}

::placeholder {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.content-title {
    height: 15px;
    opacity: 0.6;
    color: #151525;
    font-family: "DIN Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0;
    width:100%;
}

.header {
    background-color: #ffffff;
}

.post{
    background-color: #ffffff;
    margin-bottom: 100px;
    padding: 0!important;
    max-width: 1119px;
    width:100%;
    float: left;
}

.post-image {
    background: url("../images/content-img.png") no-repeat;
    background-size: cover;
    height: 350px;
    width:33.3%;
    display: inline-block;
    float: left;
}

.post-title {
    color: #333333;
    font-family: "DIN Pro", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin: 50px 0 30px;
}

.post-details {
    padding: 0 40px !important;
    color: #666666;
    font-family: "DIN Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    max-width: 415px;
    width:34%;
    display: inline-block;
    float: left;
}

.post-info {
    border-left: 2px solid #e6e8e9;
    height: 350px;
    width:25%;
    display: inline-block;
    position: relative;
    float: left;
}


.post-info__items {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.post-info__item{
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
}
.post-info__description {
    display: inline-block;
    color: #333333;
    font-family: "DIN Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 43px;
    vertical-align: middle;
}

.icon {
    background-size: contain;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}


.social-post {
    margin: 27px 0 10px 0;
    list-style: none;
    padding: 0;
}

.social-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 33px;
    width: 33px;
    margin: 0 8px;
    display: inline-block;
}

.social-img:first-child {
    margin-left: 0;
}

.dropdown.add-to-calendar {
    height: 50px;
    border-radius: 3px;
    border: 2px solid #151525;
    background-color: #000000;
    color: #ffffff;
    font-family: "DIN Pro", sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    line-height: 2.5;
    margin-left: 40px;
}

.dropdown-menu.calendars-list {
    margin-top: 7px;
    border-radius: 0;
    width: 100%;
    z-index: -1;
    border: 1px solid #e6e8e9;
    box-shadow: none;
    text-align: left;
}

.dropdown-menu.calendars-list .dropdown-item {
    height: 50px;
    color: #c9caca;
    padding-left: 10px;
    line-height: 3;
    font-weight: bold;
}

.dropdown-menu.calendars-list .dropdown-item:hover {
    color: #000000;
    text-decoration: none;
}

.dropdown.add-to-calendar:hover .dropdown-menu.calendars-list {
    display:block;
}
.dropdown-menu.calendars-list{
    display:none;
}

@media only screen and (min-width: 376px) and (max-width: 1024px) {
    .post-image {
        width: 100%!important;
    }
    .post-details {
        width: 70%!important;
    }
    .post-info {
        width: 30%!important;
    }
}

@media only screen and (max-width: 375px) {
    .title {
        padding: 10px 0 10px;
    }
    .dropdown.add-to-calendar {
        float: none;
        padding-bottom: 20px;
    }
    .post-info {
        border: none;
    }
    .content-title{
        margin: 30px 0;
    }
    .menu{
        height:130px;
    }
    .post-details{
        width:85%;
    }
    .post-image{
        width:100%;
    }
    .post-info{
        width:100%;
    }
    .dropdown.add-to-calendar{
        padding-bottom: 0;
    }
}
@media only screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
    .menu{
        height:130px;
    }
    .dropdown.add-to-calendar{
        width:90%;
    }

}
@media only screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media only screen and (min-width: 1024px) and (max-width:1200px) {
.post-details {
    width: 33%;
}
}




